.name{
  position:absolute;
	font-family:"Fira Sans";
	font-size: 25px;
  left:30px;
}
.class{
  position:absolute;
  font-family:"Fira Sans";
	font-size: 25px;
  margin-left: 88%;
  margin-top:50%;
}
.project1{
  position:absolute;
  vertical-align:middle;
	font-family:"Fira Sans";
	font-size: 35px;
  text-align: right;
  margin-left: 30%;
  margin-top: 5%;
  line-height: 60px;
}
.name1{
  position:absolute;
	font-family:"Fira Sans";
	font-size: 20px;
  margin-left: 46%;
  margin-top:8%;
}
.name2{
  position:absolute;
	font-family:"Fira Sans";
	font-size: 20px;
  margin-left: 46%;
  margin-top:15%;
}
.name3{
  position:absolute;
	font-family:"Fira Sans";
	font-size: 20px;
  margin-left: 46%;
  margin-top:22%;
}
.name4{
  position:absolute;
	font-family:"Fira Sans";
	font-size: 20px;
  margin-left: 46%;
  margin-top:29%;
}
