.square1{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  top: 60px;
  left:400px;
  position:absolute;
}
.square2{
  background-color:black;
  width: 40px;
  height: 10px;
  float: left;
  top: 60px;
	left: 410px;
  position:absolute;
}
.square3{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  top: 60px;
	left: 450px;
  position:absolute;
}
.square3:hover + .square4{
	transform: rotate(90deg);
}
.square4{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  top: 70px;
  left: 450px;
  position:absolute;
}
.square4{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top: 50px;
  margin-left: 500px;
  position:absolute;

}

.square5{
  background-color:black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top: 50px;
	margin-left: 510px;
  position:absolute;


}
.square6{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top: 50px;
	margin-left: 550px;
  position:absolute;


}
.square7{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top: 50px;
  margin-left: 600px;
  position:absolute;

}
.square8{
  background-color:black;
  width: 50px;
  height: 10px;
  float: left;
  margin-top: 50px;
	margin-left: 610px;
  position:absolute;

}
.square9{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top: 50px;
  margin-left: 700px;
  position:absolute;

}
.square10{
  background-color:black;
  width: 30px;
  height: 10px;
  float: left;
  margin-top: 50px;
	margin-left: 710px;
  position:absolute;


}
.square11{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top: 50px;
	margin-left: 740px;
  position:absolute;


}
.square12{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top: 50px;
  margin-left: 800px;
  position:absolute;


}
.square13{
  background-color:black;
  width: 50px;
  height: 10px;
  float: left;
  margin-top: 50px;
	margin-left: 810px;
  position:absolute;


}
.square14{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top: 50px;
  margin-left: 900px;
  position:absolute;


}
.square15{
  background-color:black;
  width: 50px;
  height: 10px;
  float: left;
  margin-top: 50px;
	margin-left: 910px;
  position:absolute;


}
.square16{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  top: 70px;
  left: 450px;
  position:absolute;
}
.square17{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  left: 400px;
  top: 70px;
  position:absolute;
}
.square18{
  background-color:black;
  width: 10px;
  height: 60px;
  float: left;
  margin-left: 500px;
  margin-top: 60px;
  position:absolute;


}
.square19{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  margin-left: 550px;
  margin-top: 60px;
  position:absolute;
}
.square20{
  background-color:black;
  width: 10px;
  height: 60px;
  float: left;
  margin-left: 600px;
  margin-top: 60px;
  position:absolute;
}
.square21{
  background-color: black;
  width: 10px;
  height: 60px;
  float: left;
  margin-left: 700px;
  margin-top: 60px;
  position:absolute;


}
.square22{
  width: 0;
  height: 0;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  float: left;
  margin-top: 60px;
  margin-left: 740px;
  position:absolute;


}
.square23{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top: 60px;
  margin-left: 750px;
  position:absolute;


}
.square24{
  background-color: black;
  width: 10px;
  height: 20px;
  float: left;
  margin-top: 60px;
  margin-left: 800px;
  position:absolute;

}
.square25{
  background-color: black;
  width: 10px;
  height: 20px;
  float: left;
  margin-top: 60px;
  margin-left:900px;
  position:absolute;


}
.square26{
  width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  margin-top: 80px;
  margin-left:400px;
  position:absolute;
}

.square27{
  background-color: black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:80px;
  margin-left:410px;
  position:absolute;



}
.square28{
  width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top: 80px;
  margin-left:450px;
  position:absolute;
}

.square29{
  background-color: black;
  width: 30px;
  height: 10px;
  float: left;
  margin-top:80px;
  margin-left:520px;
  position:absolute;



}
.square30{
  width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:80px;
  margin-left:550px;
  position:absolute;


}
.square31{
  background-color: black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:70px;
  margin-left:750px;
  position:absolute;


}
.square32{
  width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top: 80px;
  margin-left:800px;
  position:absolute;


}
.square33{
  background-color: black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:80px;
  margin-left:810px;
  position:absolute;


}
.square34{
  width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:80px;
  margin-left:900px;
  position:absolute;


}
.square35{
  background-color: black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:80px;
  margin-left:910px;
  position: absolute;

}
.square36{
  background-color: black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:90px;
  margin-left: 400px;
  position: absolute;
}
.square37{
  background-color: black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:90px;
  margin-left: 450px;
  position: absolute;

}
.square38{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:120px;
  margin-left: 500px;
  position: absolute;

}
.square39{
  background-color: black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:120px;
  margin-left: 510px;
  position: absolute;

}
.square40{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:120px;
  margin-left: 550px;
  position: absolute;

}
.square41{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:90px;
  margin-left:550px;
  position: absolute;

}

.square42{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:120px;
  margin-left: 600px;
  position: absolute;

}
.square43{
  background-color:black;
  width: 50px;
  height: 10px;
  float: left;
  margin-top:120px;
  margin-left: 610px;
  position: absolute;

}

.square44{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:120px;
  margin-left: 700px;
  position: absolute;

}

.square45{
  background-color:black;
  width: 30px;
  height: 10px;
  float: left;
  margin-top:120px;
  margin-left: 710px;
  position: absolute;

}
.square46{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:120px;
  margin-left: 740px;
  position: absolute;

}
.square47{
	width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 10px solid transparent;
  float: left;
  margin-top:110px;
  margin-left: 740px;
  position: absolute;

}
.square48{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:110px;
  margin-left: 750px;
  position: absolute;

}
.square49{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:90px;
  margin-left: 800px;
  position: absolute;
}
.square50{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:120px;
  margin-left:800px;
  position: absolute;
}
.square51{
  background-color:black;
  width: 50px;
  height: 10px;
  float: left;
  margin-top:120px;
  margin-left: 810px;
  position: absolute;

}

.square52{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:90px;
  margin-left: 900px;
  position: absolute;

}
.square53{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:160px;
  margin-left: 400px;
  position: absolute;

}
.square54{
  background-color:black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:160px;
  margin-left: 410px;
  position: absolute;

}
.square55{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:160px;
  margin-left: 500px;
  position: absolute;

}
.square56{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:160px;
  margin-left: 550px;
  position: absolute;

}
.square57{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:160px;
  margin-left: 600px;
  position: absolute;

}
.square58{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:160px;
  margin-left: 620px;
  position: absolute;

}
.square59{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:160px;
  margin-left: 630px;
  position: absolute;

}
.square60{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:160px;
  margin-left: 700px;
  position: absolute;

}
.square61{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  margin-top:160px;
  margin-left: 720px;
  position: absolute;

}
.square62{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:160px;
  margin-left: 730px;
  position: absolute;

}
.square63{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:160px;
  margin-left: 800px;
  position: absolute;

}
.square64{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  margin-top:160px;
  margin-left: 850px;
  position: absolute;

}
.square65{
  background-color:black;
  width: 10px;
  height: 70px;
  float: left;
  margin-top:160px;
  margin-left: 900px;
  position: absolute;
}
.square66{
  background-color:black;
  width: 10px;
  height: 60px;
  float: left;
  margin-top:170px;
  margin-left: 400px;
  position: absolute;
}
.square67{
  background-color:black;
  width: 30px;
  height: 10px;
  float: left;
  margin-top:190px;
  margin-left: 420px;
  position: absolute;
}
.square68{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:190px;
  margin-left: 450px;
  position: absolute;
}
.square69{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  margin-top:190px;
  margin-left: 500px;
  position: absolute;
}
.square70{
  background-color:black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:190px;
  margin-left: 510px;
  position: absolute;
}
.square71{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:190px;
  margin-left: 550px;
  position: absolute;
}
.square72{
  background-color:black;
  width: 10px;
  height: 60px;
  float: left;
  margin-top:170px;
  margin-left: 620px;
  position: absolute;
}
.square73{
  background-color:black;
  width: 10px;
  height: 50px;
  float: left;
  margin-top:170px;
  margin-left: 720px;
  position: absolute;
}
.square74{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:190px;
  margin-left: 800px;
  position: absolute;
}
.square75{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:190px;
  margin-left: 810px;
  position: absolute;
}
.square76{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:190px;
  margin-left: 820px;
  position: absolute;
}
.square77{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:180px;
  margin-left: 820px;
  position: absolute;
}
.square78{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:180px;
  margin-left: 830px;
  position: absolute;
}
.square79{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:180px;
  margin-left: 850px;
  position: absolute;
}
.square80{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:230px;
  margin-left: 400px;
  position: absolute;
}
.square81{
  background-color:black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:230px;
  margin-left: 410px;
  position: absolute;
}
.square82{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:230px;
  margin-left: 450px;
  position: absolute;
}
.square83{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:200px;
  margin-left: 450px;
  position: absolute;
}
.square84{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:200px;
  margin-left: 500px;
  position: absolute;
}
.square85{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:200px;
  margin-left: 550px;
  position: absolute;
}
.square86{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:230px;
  margin-left: 600px;
  position: absolute;
}
.square87{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:230px;
  margin-left: 620px;
  position: absolute;
}
.square88{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:230px;
  margin-left: 630px;
  position: absolute;
}
.square89{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:220px;
  margin-left: 720px;
  position: absolute;
}
.square90{
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-left: 10px solid transparent;
  float: left;
  margin-top:220px;
  margin-left: 710px;
  position: absolute;
}
.square91{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:230px;
  margin-left: 710px;
  position: absolute;
}
.square92{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:230px;
  margin-left: 700px;
  position: absolute;
}
.square93{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:200px;
  margin-left: 800px;
  position: absolute;
}
.square94{
  background-color:black;
  width: 30px;
  height: 10px;
  float: left;
  margin-top:200px;
  margin-left: 820px;
  position: absolute;
}
.square95{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:200px;
  margin-left: 850px;
  position: absolute;
}
.square96{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:210px;
  margin-left: 850px;
  position: absolute;
}
.square97{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:230px;
  margin-left: 900px;
  position: absolute;
}
.square98{
  background-color:black;
  width: 50px;
  height: 10px;
  float: left;
  margin-top:230px;
  margin-left: 910px;
  position: absolute;
}
.square99{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 400px;
  position: absolute;
}
.square100{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:270px;
  margin-left: 410px;
  position: absolute;
}
.square101{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 420px;
  position: absolute;
}
.square102{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:270px;
  margin-left: 430px;
  position: absolute;
}
.square103{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 440px;
  position: absolute;
}
.square104{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 500px;
  position: absolute;
}
.square105{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:270px;
  margin-left: 510px;
  position: absolute;
}
.square106{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 520px;
  position: absolute;
}
.square107{
  background-color:black;
  width: 10px;
  height: 70px;
  float: left;
  margin-top:270px;
  margin-left: 550px;
  position: absolute;
}
.square108{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 610px;
  position: absolute;
}
.square109{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:270px;
  margin-left: 620px;
  position: absolute;
}
.square110{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 640px;
  position: absolute;
}
.square111{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 700px;
  position: absolute;
}
.square112{
  background-color:black;
  width: 30px;
  height: 10px;
  float: left;
  margin-top:270px;
  margin-left: 710px;
  position: absolute;
}
.square113{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 740px;
  position: absolute;
}
.square114{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 810px;
  position: absolute;
}
.square115{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:270px;
  margin-left: 820px;
  position: absolute;
}
.square116{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 840px;
  position: absolute;
}
.square117{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 900px;
  position: absolute;
}
.square118{
  background-color:black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:270px;
  margin-left: 910px;
  position: absolute;
}
.square119{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:270px;
  margin-left: 950px;
  position: absolute;
}
.square120{
  background-color:black;
  width: 10px;
  height: 70px;
  float: left;
  margin-top:280px;
  margin-left: 400px;
  position: absolute;
}
.square121{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:280px;
  margin-left: 420px;
  position: absolute;
}
.square122{
  background-color:black;
  width: 10px;
  height: 70px;
  float: left;
  margin-top:280px;
  margin-left: 440px;
  position: absolute;
}
.square123{
  background-color:black;
  width: 10px;
  height: 70px;
  float: left;
  margin-top:280px;
  margin-left: 500px;
  position: absolute;
}
.square124{
  background-color:black;
  width: 10px;
  height: 60px;
  float: left;
  margin-top:280px;
  margin-left: 520px;
  position: absolute;
}
.square125{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 600px;
  position: absolute;
}
.square126{
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-right: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 610px;
  position: absolute;
}
.square127{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:290px;
  margin-left: 600px;
  position: absolute;
}
.square128{
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-left: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 640px;
  position: absolute;
}
.square129{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 650px;
  position: absolute;
}
.square130{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:290px;
  margin-left: 650px;
  position: absolute;
}
.square131{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:280px;
  margin-left: 700px;
  position: absolute;
}
.square132{
	width: 0;
  height: 0;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 740px;
  position: absolute;
}
.square133{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 750px;
  position: absolute;
}
.square134{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:290px;
  margin-left: 750px;
  position: absolute;
}
.square135{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:300px;
  margin-left: 750px;
  position: absolute;
}
.square136{
	width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 10px solid transparent;
  float: left;
  margin-top:300px;
  margin-left: 740px;
  position: absolute;
}
.square137{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:310px;
  margin-left: 740px;
  position: absolute;
}
.square138{
  background-color:black;
  width: 30px;
  height: 10px;
  float: left;
  margin-top:310px;
  margin-left: 710px;
  position: absolute;
}
.square139{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:310px;
  margin-left: 700px;
  position: absolute;
}
.square140{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 800px;
  position: absolute;
}
.square141{
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-right: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 810px;
  position: absolute;
}
.square142{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:290px;
  margin-left: 800px;
  position: absolute;
}
.square143{
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-left: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 840px;
  position: absolute;
}
.square144{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:280px;
  margin-left: 850px;
  position: absolute;
}
.square145{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:290px;
  margin-left: 850px;
  position: absolute;
}
.square146{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  margin-top:280px;
  margin-left: 900px;
  position: absolute;
}
.square147{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  margin-top:280px;
  margin-left: 950px;
  position: absolute;
}
.square148{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:340px;
  margin-left: 520px;
  position: absolute;
}
.square149{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:340px;
  margin-left: 530px;
  position: absolute;
}
.square150{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:340px;
  margin-left: 550px;
  position: absolute;
}
.square151{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:330px;
  margin-left: 600px;
  position: absolute;
}
.square152{
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-right: 10px solid transparent;
  float: left;
  margin-top:330px;
  margin-left: 610px;
  position: absolute;
}
.square153{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:340px;
  margin-left: 610px;
  position: absolute;
}
.square154{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:340px;
  margin-left: 620px;
  position: absolute;
}
.square155{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:340px;
  margin-left: 640px;
  position: absolute;
}
.square156{
	width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 10px solid transparent;
  float: left;
  margin-top:330px;
  margin-left: 640px;
  position: absolute;
}
.square157{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:330px;
  margin-left: 650px;
  position: absolute;
}
.square158{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:320px;
  margin-left: 700px;
  position: absolute;
}
.square159{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:330px;
  margin-left: 800px;
  position: absolute;
}
.square160{
	width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-right: 10px solid transparent;
  float: left;
  margin-top:330px;
  margin-left: 810px;
  position: absolute;
}
.square161{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:340px;
  margin-left: 810px;
  position: absolute;
}
.square162{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:340px;
  margin-left: 820px;
  position: absolute;
}
.square163{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:340px;
  margin-left: 840px;
  position: absolute;
}
.square164{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:340px;
  margin-left: 850px;
  position: absolute;
}
.square165{
	width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 10px solid transparent;
  float: left;
  margin-top:330px;
  margin-left: 840px;
  position: absolute;
}
.square166{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:330px;
  margin-left: 850px;
  position: absolute;
}
.square167{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:300px;
  margin-left: 900px;
  position: absolute;
}
.square168{
  background-color:black;
  width: 10px;
  height: 40px;
  float: left;
  margin-top:310px;
  margin-left: 900px;
  position: absolute;
}
.square169{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:300px;
  margin-left: 910px;
  position: absolute;
}
.square170{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:300px;
  margin-left: 920px;
  position: absolute;
}
.square171{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:300px;
  margin-left: 930px;
  position: absolute;
}
.square172{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:300px;
  margin-left: 950px;
  position: absolute;
}
.square173{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:310px;
  margin-left: 920px;
  position: absolute;
}
.square174{
	width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-right: 10px solid transparent;
  float: left;
  margin-top:310px;
  margin-left: 930px;
  position: absolute;
}
.square175{
	width: 0;
  height: 0;
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:320px;
  margin-left: 930px;
  position: absolute;
}
.square176{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:320px;
  margin-left: 940px;
  position: absolute;
}
.square177{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  margin-top:320px;
  margin-left: 950px;
  position: absolute;
}
.square178{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  margin-top:330px;
  margin-left: 950px;
  position: absolute;
}
.square179{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:380px;
  margin-left: 400px;
  position: absolute;
}
.square180{
  background-color:black;
  width: 50px;
  height:10px;
  float: left;
  margin-top:380px;
  margin-left: 410px;
  position: absolute;
}
.square181{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:380px;
  margin-left: 500px;
  position: absolute;
}
.square182{
	width: 0;
  height: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  margin-top:380px;
  margin-left: 520px;
  position: absolute;
}
.square183{
  background-color:black;
  width: 20px;
  height: 10px;
  float: left;
  margin-top:380px;
  margin-left: 530px;
  position: absolute;
}
.square184{
  background-color:black;
  width: 10px;
  height:70px;
  float: left;
  margin-top:380px;
  margin-left: 600px;
  position: absolute;
}
.square185{
  background-color:black;
  width: 10px;
  height:70px;
  float: left;
  margin-top:380px;
  margin-left: 650px;
  position: absolute;
}
.square186{
  background-color:black;
  width: 10px;
  height:60px;
  float: left;
  margin-top:380px;
  margin-left:700px;
  position: absolute;
}
.square187{
  background-color:black;
  width: 10px;
  height: 60px;
  float: left;
  margin-top:380px;
  margin-left: 740px;
  position: absolute;
}
.square188{
  background-color:black;
  width: 10px;
  height: 70px;
  float: left;
  margin-top:380px;
  margin-left: 800px;
  position: absolute;
}
.square189{
  background-color:black;
  width: 10px;
  height: 30px;
  float: left;
  margin-top:420px;
  margin-left: 820px;
  position: absolute;
}
.square190{
  background-color:black;
  width: 10px;
  height: 70px;
  float: left;
  margin-top:380px;
  margin-left: 840px;
  position: absolute;
}
.square191{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  margin-top:380px;
  margin-left: 900px;
  position: absolute;
}
.square192{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  margin-top:380px;
  margin-left: 950px;
  position: absolute;
}
.square193{
  background-color:black;
  width: 10px;
  height: 20px;
  float: left;
  margin-top:390px;
  margin-left: 400px;
  position: absolute;
}
.square194{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:410px;
  margin-left: 400px;
  position: absolute;
}
.square195{
  background-color:black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:410px;
  margin-left: 410px;
  position: absolute;
}
.square196{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:410px;
  margin-left: 450px;
  position: absolute;
}
.square197{
  background-color:black;
  width: 10px;
  height:30px;
  float: left;
  margin-top:420px;
  margin-left:450px;
  position: absolute;
}
.square198{
  background-color:black;
  width: 10px;
  height: 70px;
  float: left;
  margin-top:390px;
  margin-left: 520px;
  position: absolute;
}
.square199{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:450px;
  margin-left: 600px;
  position: absolute;
}
.square200{
  background-color:black;
  width: 40px;
  height: 10px;
  float: left;
  margin-top:450px;
  margin-left: 610px;
  position: absolute;
}
.square201{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:450px;
  margin-left: 650px;
  position: absolute;
}
.square202{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:440px;
  margin-left: 700px;
  position: absolute;
}
.square203{
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-right: 10px solid transparent;
  float: left;
  margin-top:440px;
  margin-left: 710px;
  position: absolute;
}
.square204{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:450px;
  margin-left: 710px;
  position: absolute;
}
.square205{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:450px;
  margin-left: 720px;
  position: absolute;
}
.square206{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:450px;
  margin-left: 730px;
  position: absolute;
}
.square207{
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-left: 10px solid transparent;
  float: left;
  margin-top:440px;
  margin-left: 730px;
  position: absolute;
}
.square208{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:440px;
  margin-left: 740px;
  position: absolute;
}
.square209{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:450px;
  margin-left: 800px;
  position: absolute;
}
.square210{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:450px;
  margin-left: 810px;
  position: absolute;
}
.square211{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:450px;
  margin-left: 820px;
  position: absolute;
}
.square212{
  background-color:black;
  width: 10px;
  height: 10px;
  float: left;
  margin-top:450px;
  margin-left: 830px;
  position: absolute;
}
.square213{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:450px;
  margin-left: 840px;
  position: absolute;
}
.square214{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:400px;
  margin-left: 900px;
  position: absolute;
}
.square215{
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-right: 10px solid transparent;
  float: left;
  margin-top:400px;
  margin-left: 910px;
  position: absolute;
}
.square216{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:410px;
  margin-left: 910px;
  position: absolute;
}
.square217{
	background-color:black;
	width: 20px;
	height: 10px;
  float: left;
  margin-top:410px;
  margin-left: 920px;
  position: absolute;
}
.square218{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:410px;
  margin-left: 940px;
  position: absolute;
}
.square219{
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-left: 10px solid transparent;
  float: left;
  margin-top:400px;
  margin-left: 940px;
  position: absolute;
}
.square220{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:400px;
  margin-left: 950px;
  position: absolute;
}
.square221{
	background-color:black;
	width: 50px;
	height: 10px;
  float: left;
  margin-top:450px;
  margin-left: 400px;
  position: absolute;
}
.square222{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:450px;
  margin-left: 450px;
  position: absolute;
}
.square223{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:420px;
  margin-left: 900px;
  position: absolute;
}
.square224{
	background-color:black;
	width: 10px;
	height: 30px;
  float: left;
  margin-top:430px;
  margin-left: 900px;
  position: absolute;
}
.square225{
	background-color:black;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:420px;
  margin-left: 910px;
  position: absolute;
}
.square226{
	background-color:black;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:420px;
  margin-left: 940px;
  position: absolute;
}
.square227{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:420px;
  margin-left: 950px;
  position: absolute;
}
.square228{
	background-color:black;
	width: 10px;
	height: 30px;
  float: left;
  margin-top:430px;
  margin-left: 950px;
  position: absolute;
}
.square229{
	background-color:black;
	width: 10px;
	height: 30px;
  float: left;
  margin-top:490px;
  margin-left: 400px;
  position: absolute;
}
.square230{
	background-color:black;
	width: 10px;
	height: 30px;
  float: left;
  margin-top:490px;
  margin-left: 440px;
  position: absolute;
}
.square231{
	background-color:black;
	width: 50px;
	height: 10px;
  float: left;
  margin-top:490px;
  margin-left: 500px;
  position: absolute;
}
.square232{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:490px;
  margin-left: 550px;
  position: absolute;
}
.square233{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:520px;
  margin-left: 400px;
  position: absolute;
}
.square234{
	background-color:black;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:520px;
  margin-left: 410px;
  position: absolute;
}
.square235{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:520px;
  margin-left: 420px;
  position: absolute;
}
.square236{
	background-color:black;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:520px;
  margin-left: 430px;
  position: absolute;
}
.square237{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:520px;
  margin-left: 440px;
  position: absolute;
}
.square238{
	background-color:black;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:500px;
  margin-left: 550px;
  position: absolute;
}
.square239{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-right: 10px solid transparent;
  float: left;
  margin-top:510px;
  margin-left: 550px;
  position: absolute;
}
.square240{
	background-color:black;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:510px;
  margin-left: 540px;
  position: absolute;
}
.square241{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:510px;
  margin-left: 530px;
  position: absolute;
}
.square242{
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-right: 10px solid transparent;
  float: left;
  margin-top:520px;
  margin-left: 530px;
  position: absolute;
}
.square243{
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-left: 10px solid transparent;
  float: left;
  margin-top:520px;
  margin-left: 520px;
  position: absolute;
}
.square244{
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-right: 10px solid transparent;
  float: left;
  margin-top:530px;
  margin-left: 520px;
  position: absolute;
}
.square245{
	width: 0;
	height: 0;
	border-bottom: 10px solid black;
	border-left: 10px solid transparent;
  float: left;
  margin-top:530px;
  margin-left: 510px;
  position: absolute;
}
.square246{
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-right: 10px solid transparent;
  float: left;
  margin-top:540px;
  margin-left: 510px;
  position: absolute;
}
.square247{
	width: 0;
	height: 0;
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:540px;
  margin-left: 500px;
  position: absolute;
}
.square248{
	background-color:black;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:550px;
  margin-left: 500px;
  position: absolute;
}
.square249{
	width: 0;
	height: 0;
	border-top: 10px solid red;
	border-left: 10px solid transparent;
  float: left;
  margin-top:560px;
  margin-left: 500px;
  position: absolute;
}
.square250{
	background-color:black;
	width: 50px;
	height: 10px;
  float: left;
  margin-top:560px;
  margin-left: 510px;
  position: absolute;
}
.square251{
	background-color:black;
	width: 10px;
	height: 40px;
  float: left;
  margin-top:530px;
  margin-left: 420px;
  position: absolute;
}
.square252{
	width: 0;
	 height: 0;
	 border-left: 15px solid transparent;
	 border-right: 15px solid transparent;
	 border-bottom: 30px solid red;
  float: left;
  margin-top:700px;
  margin-left: 950px;
  position: absolute;
}
.square253{
	background-color:red;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:510px;
  margin-left: 530px;
  position: absolute;
}
.square254{
	background-color:red;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:510px;
  margin-left: 530px;
  position: absolute;
}
.square255{
	background-color:red;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:510px;
  margin-left: 530px;
  position: absolute;
}
.square256{
	background-color:red;
	width: 10px;
	height: 10px;
  float: left;
  margin-top:510px;
  margin-left: 530px;
  position: absolute;
}
